body{
  background-image: radial-gradient(circle at 107.92% 90.56%, #290039 0%, #03062E 25%, #0C0034 100%);
}

.text-blanco{
  color: white
}

.text-center{
  text-align: center;
}

.Titulo-Torneo{
  font-size: 25px;
}
.Integrante{
  font-size: 25px;
}

.nav__link {
  text-decoration: none;
  color: white;
}
.nav__link:hover{
  color: white;
}
.home__container{
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: start;
}

.home__img__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.btn_read_more {
  margin-top: 5vh;
  width: 50%;
}

.footer__dot{
  height: 5px;
  width: 100%;
  border:none;
  border-top:1px dashed white;
  margin-bottom: 5vh;
}

.footer__ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
}

.soporte__container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}
.footer__title{
  font-size: 24px;
  font-weight: bold;
}
.accordion__item{
  margin-bottom: 5vh;
}
.container__img{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill__img{
  flex-shrink: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.row-container-3{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.row-item-2{
  grid-row-start: 2;
  grid-row-end: 3;
}

.row-item-3{
  grid-row-start: 3;
  grid-row-end: 3;
}

.reajustar-img{
  width: 100%;
  max-height: 160px;
}
